html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*----------navigation-----*/


.navbar {
    margin:0;
    padding-bottom: 150px;
}
.menuitem {
    height: 54px;
    text-align: center;
    padding-top:20px;
    
  
}

.menuitem a {
    width: 100% ;
    text-decoration: none;
    color:#d3d3d3;
    height: 54px;
   
}

.menuitem a i {
    padding-top: 4px;
    display: block;
    color:#d3d3d3;
    font-size: 19px;
}



.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
}
.menuitem span:hover {
    transition-duration: 0.2s;
    color:#e84610; 
}

    .navbar {
        background-image:
       linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTowmdTA5UHszdBWVIaeOKPw3Xk8MvZATSLc3qCQdZ0jY5v0AfC);
    display: block;
    background-size: cover;
  margin:inherit;
  position:relative;
  width: 100%;
  height:auto;
    }
@media only screen and (max-width: 472px){
    .col-xs-2{
        width:100%;
    }
}
@media only screen and (min-width: 769px) {
    .dmr-1 {
        margin-top:25px;
        margin-left:50px;
    }
}
@media only screen and (min-width: 769px) {
    .dmr-2 {
        margin-top:45px;
        margin-left:180px;
    }
}
/*------home--------*/

.responsive {
    max-width: 100%; 
display:block; 
height: auto;
}
.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrfPA9WlOPXXw8vBKWFgBWYTivcRokdboaE3QlWgdm-l38lnSC);
    display: block;
    background-size: cover;
  margin:inherit;
  position:relative;
  width: 100%;
  height:auto;
  
  
}
.dmr-2 {
    margin-bottom: 20px;
}
.section-bio{
    height:420px;
    color:rgba(205,215,255,.4);
    padding-top:20%;
    padding-left: 10%;
    margin-top:5px;
    overflow:hidden;
    line-height:20px;
}
 .button {
         background: linear-gradient(
      rgba(205, 215, 0, 0.1),
      rgba(205, 212, 0, 0.1)
    );
         border: none;
         color: white;
         padding: 6px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
    
}
/*------what's new ----*/
.bg-section-new {
    background: url(https://www.google.co.uk/url?sa=i&source=images&cd=&ved=2ahUKEwjaleO457vgAhXXA2MBHRDSBGUQjRx6BAgBEAU&url=http%3A%2F%2Fwww.designbolts.com%2F2012%2F11%2F26%2F25-free-simple-black-seamless-patterns-for-website-backgrounds%2F&psig=AOvVaw1iM7MQX8pulA3w7pbV_OwA&ust=1550253752812416);
}
/*------footer------*/
.social-links {
    text-align: center;
    padding-top: 32px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 19px;
    line-height: 7px;
    text-align:center;
    color:#e84610;
    background:#fafafa;
    transition: all 0.05s ease-in-out;
    -moz-transition: all 0.05s ease-in-out;
    -webkit-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
}

.social-links li a i:hover {
    background:rgba(255,255,255,.5);
    
}
.terms {
    text-align: center;
}
.terms i {
    text-align: center;
     height: 30px;
    padding: 12px 0;
    display: block;
    color:rgba(255,255,255,.5);
    font-size: 15px;
     width: 100% ;
    text-decoration: none;
}
.copyright {
    padding:15px;
    text-align: center;
}
.copyright-text {
    color:rgba(255,255,255,.5);
    font-style: italic;
}