html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*----------navigation-----*/


.navbar {
    margin:0;
    padding-bottom: 150px;
}
.menuitem {
    height: 54px;
    text-align: center;
    padding-top:20px;
    
  
}

.menuitem a {
    width: 100% ;
    text-decoration: none;
    color:#d3d3d3;
    height: 54px;
   
}

.menuitem a i {
    padding-top: 4px;
    display: block;
    color:#d3d3d3;
    font-size: 19px;
}



.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
}
.menuitem span:hover {
    transition-duration: 0.2s;
    color:#e84610; 
}

    .navbar {
        background-image:
       linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTowmdTA5UHszdBWVIaeOKPw3Xk8MvZATSLc3qCQdZ0jY5v0AfC);
    display: block;
    background-size: cover;
  margin:inherit;
  position:relative;
  width: 100%;
  height:auto;
    }
@media only screen and (max-width:594px){
    .col-xs-2 {
        width: 100%;
    }
    .navbar {
        padding-bottom: 5px;
    }
}

/*------home--------*/
.bg-home{
    background-color:#ffff99;
} 
.responsive {
    max-width: 100%; 
display:block; 
height: auto;
}
.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrfPA9WlOPXXw8vBKWFgBWYTivcRokdboaE3QlWgdm-l38lnSC);
    display: block;
    background-size: cover;
  margin:inherit;
  position:relative;
  width: 100%;
  height:auto;
  
  
}


.section-bio{
    height:420px;
    color:rgb(216,216,216);
    text-align: left;
    padding-right:40%;
    padding-left: 10%;
    margin-top: 3px;
    overflow:hidden;
    line-height:1.3em;
    font-size: 1.5em; 
    
}
.section-bio img {
    padding-top: 120px;
}
 .button {
         background: linear-gradient(
      rgba(205, 215, 0, 0.1),
      rgba(205, 212, 0, 0.1)
    );
         border: none;
         color: white;
         padding: 6px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
    
}
.quotes {
    margin-top: 20px;
    padding: 5px;
}
.quote {
    text-align: left;
    font-family: sans-serif;
    font-size: 1.2em;
    text-shadow: 1px 1px #f00000 ;
    margin-top: 15px;
    
}
.author {
    text-align: right;
    font-family: monospace;
    font-size: 1.5em;
    text-decoration: underline;
}
.quotes-2 {
    margin-top: 25px;
    margin-left: 75px;
} 
/*------what's new ----*/
.bg-section-new {  
    background-color: #000;
}
.showcase-item {
    padding: 40px;
}
.showcase-item, img,  p {
    text-align: center;
}
.showcase-item p {
    font-family: serif;
    color: #fff;
    font-size: 1.5em;
}
.audio p {
    text-align: left;
    padding-left: 10%;
    color: #fafafa;
}
.showcase-item:hover {
    opacity: 0.6;
    transition-duration: 0.2s;
}

/*------The Band  ----*/

.team-title {
    text-align: center;
    font-family: fantasy;
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 50px;
}

.band-member  {
    text-align: center;
}
@media only screen and (max-width:1150px){
    .band-member {
        width: 50%;
    }
}
@media only screen and (max-width:990px){
    .band-member {
        width: 100%;
    }
}
.band-member a img:hover {
    transition-duration: 0.2s;
    opacity: 0.9;
}
.cover-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.member-name {
    font-family: Hanalei Fill;
    font-size: 1.3em;
    font-style: italic;
    color: #000000;
}
.member-skills {
    font-family:serif;
    font-style: italic;
    font-size: 1.2em;
}
.band-social li a i{
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 19px;
    line-height: 7px;
    text-align:center;
    color:#e84610;
}
.band-social li a i:hover {
  background-color: #696969;  
  color: #0000ff;
  transition-duration: 0.2s;
}

/*------Contact ----*/
.contact-title {
    text-align:center;
    text-decoration:underline;
}
.contact-image {
    margin-left:10%;
}
.form-text-input {
    width: 100%; 
    height: 150px;
}
.mail-address {
    margin-top:50px;
    margin-bottom:75px;
    background-color:#222;
}
.mail-address-item {
    margin-top:25px;
    color:#696969;
    font-size:1.3em;
   
    
}
/*------shop----*/
.bg-shop{
    background-color: #626262;
}
    
.shop-category {
    text-align: center;
    margin:50px;
    padding:80px;
    background-color: #fafafa;
    
}
.shop-category img {
    display: block;
    width: 100%;
    height:auto;
}
.category-title {
    font-family: cursive;
    font-style: oblique;
    font-size: 1.5em;
    text-decoration: underline;
}
.category-description {
    margin-left: -40px;
    text-align: left;
}
.category-description p {
    font-size: 0.9em;
    
}
@media only screen and (max-width:1200px){
    .category-item {
        width: 50%;
    }
}
@media only screen and (max-width:760px){
    .category-item {
        width: 100%;
    }
}
/*------calendar ----*/
.cd-column {
    border: 10px solid;
    border-color: #fafafa;
    background-color: #add8e6;
}
.cd-date {
   text-align: left;
   padding-left: 15px;
}
.cd-cover img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}
.cd-map {
    margin-left: 10px;
    font-size: 1.2em;
}

.cd-location-venue {
    text-align: center;
    font-family: serif;
    font-size: 1.4em;
}
.cd-social {
 text-align: center; 
 margin-top: 20px;
}
.cd-social li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 19px;
    line-height: 7px;
    text-align:center;
    color:#e84610;
}
.cd-social li a i:hover {
  background-color: #696969;  
  color: #0000ff;
  transition-duration: 0.2s;
} 
.btn-sm {
    border-style: groove;
}
/*.bg-calendar {
    background-color: #000000;
}
.ticket {
    background-color: #f0be57;
    margin-top: 15px;
}
.ticket-cover {
    width: 275px;
    height: 183px;
}
.ticket-city {
    font-family: sans-serif;
    font-size: 1.4em;
    text-decoration: overline;
}
.ticket-location {
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.2em;
}
.ticket-social {
 text-align: center; 
}
.ticket-social li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 19px;
    line-height: 7px;
    text-align:center;
    color:#e84610;
}
.ticket-social li a i:hover {
  background-color: #696969;  
  color: #0000ff;
  transition-duration: 0.2s;
}   
*/
/*------footer------*/
.social-links {
    text-align: center;
    padding-top: 32px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 19px;
    line-height: 7px;
    text-align:center;
    color:#e84610;
    background:#fafafa;
   
}

.social-links li a i:hover {
    background:rgba(255,255,255,.5);
     transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    
}
.terms {
    text-align: center;
}
.terms i {
    text-align: center;
     height: 30px;
    padding: 12px 0;
    display: block;
    color:rgba(255,255,255,.5);
    font-size: 15px;
     width: 100% ;
    text-decoration: none;
}
.copyright {
    padding:15px;
    text-align: center;
}
.copyright-text {
    color:rgba(255,255,255,.5);
    font-style: italic;
}