html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*----------navigation-----*/
.navbar {
    margin-bottom: 0;
}
.menuitem {
    height: 54px;
    text-align: center;
    padding:0;
    
  
}

.menuitem a {
    width: 100% ;
    text-decoration: none;
    color:#add8e6;
    height: 54px;
   
}

.menuitem a i {
    padding-top: 4px;
    display: block;
    color:#fff;
    font-size: 19px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 2px;
}

/*------home--------*/


.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(http://wwwrollingstones.wpengine.netdna-cdn.com/files/2018/04/Screen-Shot-2018-04-22-at-19.41.53-600x600.png);
     background-size: cover;
  margin:inherit;
  position:relative;
  float: left;
  
  
}
.section-bio{
    width:100%;
    height:420px;
    color:rgba(255,255,255,.7);
    font-family: cursive;
    text-align: center;
    font-size: medium;
    padding-left: 50%;
}
 .button {
         background: linear-gradient(
      rgba(343, 223, 0, 0.7),
      rgba(0, 232, 232, 0.6)
    );
         border: none;
         color: white;
         padding: 20px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
    
}
/*------what's new ----*/
.bg-section-new {
    background: url(https://www.google.co.uk/url?sa=i&source=images&cd=&ved=2ahUKEwjaleO457vgAhXXA2MBHRDSBGUQjRx6BAgBEAU&url=http%3A%2F%2Fwww.designbolts.com%2F2012%2F11%2F26%2F25-free-simple-black-seamless-patterns-for-website-backgrounds%2F&psig=AOvVaw1iM7MQX8pulA3w7pbV_OwA&ust=1550253752812416);
}
/*------footer------*/
.social-links {
    text-align: center;
    padding-top: 32px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 19px;
    line-height: 7px;
    text-align:center;
    color:#e84610;
    background:#fafafa;
    transition: all 0.05s ease-in-out;
    -moz-transition: all 0.05s ease-in-out;
    -webkit-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
}

.social-links li a i:hover {
    background:rgba(255,255,255,.5);
    
}
.terms {
    text-align: center;
}
.terms i {
    text-align: center;
     height: 30px;
    padding: 12px 0;
    display: block;
    color:rgba(255,255,255,.5);
    font-size: 15px;
     width: 100% ;
    text-decoration: none;
}
.copyright {
    padding:15px;
    text-align: center;
}
.copyright-text {
    color:rgba(255,255,255,.5);
    font-style: italic;
}